<%- include header.ejs %>
<div class="page">
    <div class="page-top">
        <div class="top-top"></div>
        <div class="top-head">
            <img src="<%= user.path %>">
        </div>
        <div class="top-bottom">
            <div class="bottom-info">
                <ul>
                    <li><a href="/follow">已关注</a><span><%= follow %></span> </li>
                    <li><a >关注者</a><span><%= followed %></span> </li>
                </ul>
            </div>
            <a href="#" class="btn btn-default btn-edit">编辑个人资料</a>
            <div class="clear"></div>
        </div>
    </div>
    <div class="page-container">
        <div class="page-left">
            <div class="user-data">
                <a href="#" class="data-name"><%= user.name %></a>
                <div class="data-info">
                    <ul>
                        <li><span class="glyphicon glyphicon-map-marker"></span> <%= user.address %></li>
                        <li><span class="glyphicon glyphicon-calendar"></span> <%= user.brithday%></li>
                        <li><span class="glyphicon glyphicon-cloud"></span> <%= user.email %></li>
                    </ul>
                </div>
            </div>

            <div class="right-container">
                <div class="right-title">
                    <span>推荐关注</span> · <a href="#">产看全部</a>
                </div>
                <div class="right-rec">
                    <% recommend.forEach(function (r) { %>
                    <div class="rec">
                        <img src="<%= r.path %>">
                        <a href="/u/<%= r._id %>" class="rec-name"><%= r.name %></a>
                        <a href="#" class="btn btn-default btn-rec"><span class="glyphicon glyphicon-plus"></span> 关注</a>
                        <a href="#" class="glyphicon glyphicon-remove"></a>
                    </div>
                    <% }) %>
                </div>
            </div>
            <div class="right-container">
                <div class="right-title">
                    <span>热门</span> · <a href="#">产看更多</a>
                </div>
                <div class="right-popular">
                    <ul>
                        <% love.forEach(function (l) { %>
                        <li><a href="#">#<%= l.user %></a> <span><%= l.love %>喜欢</span></li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </div>

        <div class="follow-main">
            <% followedInfo.forEach(function (a) { %>
            <div class="follow-info">
                <div class="attention-top">
                    <div class="attention-head">
                        <a href="/u/<%= a._id %>"><img src="<%= a.path %>"></a>
                    </div>
                </div>
                <div class="info-bottom">
                        <span class="attention-name"><%= a.name %>
                            <a href="" class="send-message">
                                <span class="glyphicon glyphicon-comment"></span>
                                <span class="send-hide">发送消息</span>
                            </a>
                        </span>
                    <div class="attention-msg">
                        <p>If you're a Node contrib and you're going</p>
                        <a class="btn btn-green">正在关注</a>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>
<%- include footer.ejs %>