<%- include header.ejs %>
<div class="page">
    <div class="page-wrap"></div>
    <div class="page-container">
        <div class="page-left">
            <div class="left-container">
                <div class="user-info">
                    <div class="info-top"></div>
                    <div class="user-head">
                        <a href="/u/<%= user._id %>"><img src="<%= user.path %>"></a>
                    </div>
                    <div class="info-bottom">
                        <span class="user-name"><%= user.name %></span>
                        <div class="user-msg">
                            <ul>
                                <li><a href="/u/<%= user._id %>">发布</a><span><%= count %></span> </li>
                                <li><a href="/follow">关注</a><span><%= relation %></span> </li>
                                <li><a href="/collection">收藏</a><span><%= collection %></span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-main">
            <div class="main-text">
                <div class="search-head">
                    <img src="<%= user.path %>">
                </div>
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control search-input" id="exampleInputAmount" placeholder="想在云图搜索什么?">
                        <div class="input-group-addon search-input-group"><span class="glyphicon glyphicon-picture"></span> </div>
                    </div>
                </form>
            </div>
            <div class="page-msg">
                <!--渲染数据库数据-->
                <% imgs.forEach(function (img) {%>
                <div class="msg-container">
                    <div class="msg" data-id="<%= img._id %>">
                        <div class="msg-head">
                            <img src="<%= img.head %>">
                        </div>
                        <a href="#" class="msg-hide">
                            <span class="glyphicon glyphicon-eye-close"></span>
                            <span class="msg-hidet">不感兴趣</span>
                        </a>
                        <div class="msg-main">
                            <a href="/<%= img.userId %>" class="msg-user"><%= img.user %></a>
                            <span> · </span>
                            <span class="msg-time"><%= img.time %></span>
                            <div class="msg-con" data-toggle="modal" data-target="#imgModal">
                                <p class="msg-info"><%- img.info %></p>
                                <div class="msg-img">
                                    <img src="<%= img.path %>">
                                </div>
                                <% img.comment.forEach(function (c) { %>
                                <div class="msg-comment">
                                    <div class="comment-head"><img src="<%= c.commentHead %>"></div>
                                    <div class="comment-info">
                                        <p><span class="comment-user"><%= c.commentUser %>:</span> <%= c.commentInfo %></p>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <% }) %>
                            </div>
                        </div>
                        <div class="rec-module">
                            <div class="module-comment">
                                <a class="module-control">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    <span class="module-hide">评论</span>
                                </a>
                            </div>
                            <div class="module-forward">
                                <a class="module-control" href="/forward">
                                    <span class="glyphicon glyphicon-share-alt"></span>
                                    <span class="module-hide">转发</span>
                                </a>
                            </div>
                            <div class="module-like">
                                <a class="module-control" href="/love">
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="module-hide">喜欢</span>
                                </a>
                                <% if (img.love !== 0) { %>
                                <span class="love-span"><%= img.love %></span>
                                <% } %>
                            </div>
                            <div class="module-collect">
                                <a class="module-control" href="/collection">
                                    <span class="glyphicon glyphicon-floppy-disk"></span>
                                    <span class="module-hide">收藏</span>
                                </a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="comment-text">
                        <span class="comment-close glyphicon glyphicon-remove"></span>
                        <form action="/comment" method="post">
                            <div class="input-group text-group">
                                <textarea class="form-control comment-text" rows="2" placeholder="在云图,写下自己想说的!"></textarea>
                            </div>
                            <div class="form-left">
                                <div class="form-image">
                                    <input type="file" class="form-input">
                                    <span class="glyphicon glyphicon-picture form-icon"></span>
                                </div>
                                <div class="form-video">
                                    <input type="file" class="form-input">
                                    <span class="glyphicon glyphicon-facetime-video form-icon"></span>
                                </div>
                            </div>
                            <div class="form-right">
                                <button type="submit" class="btn btn-green comment-btn">
                                    <span class="glyphicon glyphicon-send"></span>
                                    回复
                                </button>
                            </div>
                            <div class="clear"></div>
                        </form>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
        <div class="page-right">
            <div class="right-container">
                <div class="right-title">
                    <span>推荐关注</span> · <a href="#">查看全部</a>
                </div>
                <div class="right-rec">
                    <% recommend.forEach(function (r) {%>
                    <div class="rec">
                        <img src="<%= r.path %>">
                        <a href="/u/<%= r._id %>" class="rec-name"><%= r.name %></a>
                        <a href="#" class="btn btn-default btn-rec"><span class="glyphicon glyphicon-plus"></span> 关注</a>
                        <a href="#" class="glyphicon glyphicon-remove"></a>
                    </div>
                    <% }) %>
                </div>
            </div>
            <div class="right-container">
                <div class="right-title">
                    <span>热门</span> · <a href="#">查看更多</a>
                </div>
                <div class="right-popular">
                    <ul>
                        <% love.forEach(function (l) { %>
                        <li><a href="#">#<%= l.user %></a> <span><%= l.love %>喜欢</span></li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include footer.ejs %>